.view-booking-container {
  padding: 2rem;
  background-image: url('Ownerimages/bookings.jpg'); 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  color: #000;
}
.view-booking-container h1 {
    margin-top: 20px;
  color: #003366; 
  font-weight: bold;
  text-align: center;
  margin-bottom: 1.5rem;
}

.booking-table {
  width: 100%;
  border-collapse: collapse;
  background-color: rgba(255, 255, 255, 0.9);
}
.booking-table th,
.booking-table td {
  border: 1px solid #ccc;
  padding: 12px;
  text-align: left;
  font-weight: bold;
}
.booking-table th {
  background-color: #004080; 
  color: white;
}
.pagination-controls {
  margin-left: 500px;
  margin-right: 500px;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}
.pagination-controls button {
  padding: 0.5rem 1rem;
  font-weight: bold;
  background-color: #0066cc;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
}
.pagination-controls button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}
.pagination-controls span {
  display: block; /* No need for flex if it's just text */
  font-weight: bold;
  color: #eb0927;
  font-size: 1.1rem;
  
}
